.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}

.example-margin,
.cbradio-group-label {
    // margin: 0 10px;
    margin: 5px 0;
}

.radio-options-cb {
    display: flex;
    flex-direction: column;
    min-width: 20em;
}

mat-card {
    margin-bottom: 1.2em;
}

mat-card.bloque-cb-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

mat-card.bloque-cb-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

mat-card.bloque-cb-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

mat-card.bloque-cb-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

mat-card.bloque-cb-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

mat-card.bloque-cb-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

mat-card.bloque-cb-7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

mat-card.bloque-cb-8 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

mat-card.bloque-cb-9 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.group-radio-options-cb {
    margin-bottom: 1.2em;
}

.elementos-az section.example-section.radio-options-cb.ng-star-inserted {
    margin-bottom: 1.2em;
    border-bottom: solid 2px #cecece;
    padding: 5px 0 8px 8px;
}

.group-radio-options-cb mat-radio-group.mat-radio-group {
    margin-bottom: 0.5em;
}