<mat-card>
    <form #peritajeVehiculoForm="ngForm">
        <!-- Primer Bloque de campos -->
        <mat-card>
            <mat-form-field appearance="fill">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker" required name="fecha">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <section class="example-section radio-options-cb radio-options-cb">
                <label class="cbradio-group-label">Calificación</label>
                <mat-radio-group aria-label="Calificación" required name="calificacion">
                    <mat-radio-button class="cb-radio-button" [value]="A">A</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="B">B</mat-radio-button>
                </mat-radio-group>
            </section>

            <mat-form-field appearance="fill">
                <mat-label>Hora Inicio:</mat-label>
                <input matInput type="time" placeholder="Hora Inicio" required name="horaInicio">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Hora Final:</mat-label>
                <input matInput type="time" placeholder="Hora Final" required name="horaFinal">
            </mat-form-field>

            <section class="example-section radio-options-cb radio-options-cb">
                <label class="cbradio-group-label">Prueba de Ruta</label>
                <mat-radio-group aria-label="Prueba de Ruta" required name="pruebaRuta">
                    <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
                </mat-radio-group>
            </section>

            <mat-form-field appearance="fill">
                <mat-label>Nombre Inspector:</mat-label>
                <input matInput placeholder="Nombre Inspector" name="nombreInspector" value="Juan Perez">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Firma Inspector:</mat-label>
                <input matInput placeholder="Firma Inspector" name="firmaInspector" value="Juan">
            </mat-form-field>

            <!-- <mat-form-field class="select-estado" appearance="fill">
                <mat-label>Calificación Estado</mat-label>
                <mat-select>
                    <mat-option>Ninguno</mat-option>
                    <mat-option value="rayado_leve">5 - Nuevo</mat-option>
                    <mat-option value="rayado_fuerte">4 - Muy Bueno</mat-option>
                    <mat-option value="golpe_leve">3 - Defectos</mat-option>
                    <mat-option value="golpe_fuerte">2 - Problemas</mat-option>
                    <mat-option value="descuadre">1 - Malo</mat-option>

                </mat-select>
            </mat-form-field> -->

            <mat-form-field appearance="fill">
                <mat-label>Calificación Estado</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="calificacionEstado">
                    <mat-option *ngFor="let calificacion of calificaciones" [value]="calificacion.value">
                        {{calificacion.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>
        <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

        <!-- Bloque 2 -->
        <mat-card>
            <mat-form-field appearance="fill">
                <mat-label>Placa:</mat-label>
                <input matInput placeholder="Placa" name="placa" value="DSF-255">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Marca:</mat-label>
                <input matInput placeholder="Marca" name="marca" value="Toyota">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Linea:</mat-label>
                <input matInput placeholder="Linea" name="linea" value="DSF">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Cilindraje:</mat-label>
                <input matInput placeholder="Cilindraje" name="cilindraje" value="120">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Color:</mat-label>
                <input matInput placeholder="Color" name="color" value="Negro">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Referencia:</mat-label>
                <input matInput placeholder="Referencia" name="referencia" value="Prado">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Modelo:</mat-label>
                <input matInput placeholder="Modelo" name="modelo" value="1988">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Combustible:</mat-label>
                <mat-select [(ngModel)]="selectedCombustible" name="combustible">
                    <mat-option *ngFor="let combustible of combustibles" [value]="combustible.value">
                        {{combustible.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Matriculado en:</mat-label>
                <input matInput placeholder="Lugar Matricula" name="lugarMatricula" value="Bogotá">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Capacidad Sillas:</mat-label>
                <input matInput placeholder="Capacidad sillas" name="capacidadSillas" value="5">
            </mat-form-field>

        </mat-card>
        <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

        <!-- Tercer Bloque -->
        <mat-card>
            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label" class="example-margin">Cojineria</label>
                <mat-radio-group aria-label="Cojineria" required name="cojineria">
                    <mat-radio-button class="cb-radio-button" [value]="tela">Tela</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="cuero">Cuero</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="example-section radio-options-cb radio-options-cb">
                <label class="cbradio-group-label" class="example-margin">Caja</label>
                <mat-radio-group aria-label="Caja" required name="caja">
                    <mat-radio-button class="cb-radio-button" [value]="mecanica">Mecánica</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="automatica">Automática</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label" class="example-margin">Tracción</label>
                <mat-radio-group aria-label="Tracción" required name="traccion">
                    <mat-radio-button class="cb-radio-button" [value]="t4x2">4X2</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="t4x4">4X4</mat-radio-button>
                </mat-radio-group>
            </section>

            <mat-form-field appearance="fill">
                <mat-label>Kilometraje Actual:</mat-label>
                <input matInput placeholder="Kilometraje Actual" name="kilometrajeActual" value="200KM">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Próximo Mantenimiento</mat-label>
                <input matInput [matDatepicker]="picker" required name="proxMantenimiento">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Rin de Lujo</label>
                <mat-radio-group aria-label="Rin de Lujo" required name="rinLujo">
                    <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Estribo de Lujo</label>
                <mat-radio-group aria-label="Estribo de Lujo" required name="estriboLujo">
                    <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Vidrio Eléctrico</label>
                <mat-radio-group aria-label="Vidrio Eléctrico" required name="vidrioElectrico">
                    <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Techo Vidrio</label>
                <mat-radio-group aria-label="Techo Vidrio" required name="techoVidrio">
                    <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Retrovisores Eléctricos</label>
                <mat-radio-group aria-label="Retrovisores Eléctricos" required name="retrovisorElectrico">
                    <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
                </mat-radio-group>
            </section>

            <mat-form-field appearance="fill">
                <mat-label>Nº de Airbag:</mat-label>
                <input matInput placeholder="Nº de Airbag" name="numAirbag" value="2">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Nº de Rin:</mat-label>
                <input matInput placeholder="Nº de Rin" name="numRin" value="4">
            </mat-form-field>

            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Barras De Techo</label>
                <mat-radio-group aria-label="Barras De Techo" required name="barrasTecho">
                    <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Exploradoras</label>
                <mat-radio-group aria-label="Exploradoras" required name="exploradoras">
                    <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
                </mat-radio-group>
            </section>
        </mat-card>

        <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

        <!-- Cuarto Bloque  -->
        <mat-card>
            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Repuesto Llaves:</label>
                <mat-radio-group aria-label="Repuesto Llaves" required name="repuestoLlaves">
                    <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Libro Garantía</label>
                <mat-radio-group aria-label="Libro Garantía" required name="libroGarantia">
                    <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Cambio Correo</label>
                <mat-radio-group aria-label="Tiene Cambio Correo" required name="cambioCorrea">
                    <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
                </mat-radio-group>
            </section>

            <mat-form-field appearance="fill">
                <mat-label>Cambio Correa:</mat-label>
                <input matInput placeholder="Donde Cambio Correa:" name="lugarCambioCorrea" value="Bogotá">
            </mat-form-field>

            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Herramienta Completa</label>
                <mat-radio-group aria-label="Herramienta Completa" required name="herramientaCompleta">
                    <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Manuales</label>
                <mat-radio-group aria-label="Manuales" required name="manuales">
                    <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Reclamos Aseguradora</label>
                <mat-radio-group aria-label="Reclamos Aseguradora" required name="reclamosAseguradora">
                    <mat-radio-button class="cb-radio-button" [value]="si">Si</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="no">No</mat-radio-button>
                </mat-radio-group>
            </section>

            <mat-form-field appearance="fill">
                <mat-label>Valor Reclamo:</mat-label>
                <input matInput placeholder="Valor Reclamo" name="valorReclamo" value="50000">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Marca Radio:</mat-label>
                <input matInput placeholder="Marca Radio" name="marcaRadio" value="Panasonic">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Marca Llantas:</mat-label>
                <input matInput placeholder="Marca Llantas" name="marcaLlantas" value="Goodyeard">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Marca Batería:</mat-label>
                <input matInput placeholder="Marca Batería" name="marcaBateria" value="Mat">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Lugar Mantenimiento:</mat-label>
                <input matInput placeholder="Lugar Mantenimiento" name="lugarMantenimiento" value="Medellin">
            </mat-form-field>
        </mat-card>
        <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

        <!-- Estado Pintura  -->
        <mat-card class="estado_pintura">

            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Puerta Del Izq</label>
                <mat-radio-group aria-label="Puerta Del Izq" required name="estadoPintura.puertaDelIzq.repi">
                    <mat-radio-button class="cb-radio-button" [value]="repiTipoA">Repi TIP A </mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="repiTipoB">Repi TIP B </mat-radio-button>
                </mat-radio-group>
            </section>
            <section class="example-section radio-options-cb">
                <mat-radio-group aria-label="Puerta Del Izq" required name="estadoPintura.puertaDelIzq.repar">
                    <mat-radio-button class="cb-radio-button" [value]="repiTipoA">Repar TIP A </mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="repiTipoB">Repar TIP B </mat-radio-button>
                </mat-radio-group>
            </section>
            <section class="example-section radio-options-cb">
                <mat-radio-group aria-label="Puerta Del Izq" required name="estadoPintura.puertaDelIzq.cambioRemovido">
                    <mat-radio-button class="cb-radio-button" [value]="repiTipoA">Cambiado </mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="repiTipoB">Removido </mat-radio-button>
                </mat-radio-group>
            </section>
        </mat-card>
        <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

        <!-- Elemento A-Z -->
        <mat-card class="elementos_a_z">
            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Air Bag</label>
                <mat-radio-group aria-label="Herramienta Completa" required name="herramientaCompleta">
                    <mat-radio-button class="cb-radio-button" [value]="malo">Malo</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="noTiene">No Tiene</mat-radio-button>
                </mat-radio-group>
            </section>


        </mat-card>
        <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

        <!-- Radio buttons bloque final -->
        <mat-card class="group-bottom-final">
            <section class="example-section radio-options-cb">
                <label class="cbradio-group-label">Nivel Liquido Refrigerante</label>
                <mat-radio-group aria-label="Nivel Liquido Refrigerante" required name="nivelLiqRefrigerante">
                    <mat-radio-button class="cb-radio-button" [value]="ok">Ok</mat-radio-button>
                    <mat-radio-button class="cb-radio-button" [value]="bajo">Bajo</mat-radio-button>
                </mat-radio-group>
            </section>
        </mat-card>
        <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

        <!-- Campos dinámicos -->
        <mat-card class="custom-fields-cb">

            <mat-form-field appearance="fill">
                <mat-label>Elemento Requiere intervención:</mat-label>
                <input matInput placeholder="" name="elementoRequiereInterv" value="">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Valor Aproximado:</mat-label>
                <input matInput placeholder="Valor " name="valorAprox" value="50000">
            </mat-form-field>

        </mat-card>
        <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->


    </form>

</mat-card>